:root {
    --color: rgb(40, 40, 60);
    --color2: rgb(30, 30, 50);
}

.radial-gradient {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;

    /*Fallback if gradeints don't work */
    background: #9b59b6;
    /*Linear gradient... */
    background:
    radial-gradient(
    circle at center, var(--color) ,var(--color)
    );
    color: var(--color2);
}

.header {
    font-size: 60px;
    font-family: Arial, sans-ms;
    text-align: center;
    padding: 10px;
    margin: auto;
}